<h1>Edit Salesperson's Details</h1>

<%= form_for @salesperson do |salesp| %>
    <%= salesp.label :name %>
    <%= salesp.text_field :name %>
    <br>
    <%= salesp.submit "Edit salesperson" %>
<% end %>

For later: Add way to assign cars