<h1>Our Lovely Salespeople</h1>

<ul>
    <% @salespeople.each do |s| %>
        <li><%= link_to s.name, salesperson_path(s) %></li>
    <% end %>
</ul>

<div class="link"><%= link_to 'Add a New Sales Person', new_salesperson_path %></div>