<h1>Add Salesperson to Staff</h1>

<%= form_for @salesperson do |salesp| %>
    <%= salesp.label :name %>
    <%= salesp.text_field :name %>
    <br>
    <%= salesp.submit "Add new salesperson" %>
<% end %>

For later: Add way to assign cars on initialization