<h1>Welcome to our Dealership</h1>

<h2>Cars in stock</h2>

<ul>
    <% @cars.each do |car| %>
        <li><%= link_to car.name, car_path(car) %></li>
    <% end %>
</ul>

<div class="tidbit"><%= "This lot has $#{Car.total_value} worth of cars on it."%></div>

<div class="link"><%= link_to 'Add a Car', new_car_path %><div>